body{
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    /* background-color: #7e8a59; */
}

.custom-background {
    background-color: #c0c7ab;
  }

img{
    width: 220px;
    height: 270px;
}
hr{
    width: 270px;
    margin-left: 0px;
}

.titulos{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.titulos h1{
    font-size: 80px;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    justify-content: space-between;
    padding-left: 500px;
}

.header-background{
    background-color: #8c976c;
}

#contenedor-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 20px; */
    padding: 20px;
    /* align-items: end; */
    background-color: #CEDAD2; 
    margin-left: 89%;
}


#eliminar{
    width: 100px;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
    margin-bottom: 2%;
    align-content: center;
    flex-basis: auto;
}

h4{
    display: flex;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


#contenedor-productos div{
    display: flex;
    /* background-color: white; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


.titulo-sweetAlert{
    font-size: 26px;
    font-family: 'Open Sans';
}

.d-flex{
    padding: 2%;
}